* {
  text-align: center;
}

body {
  margin: 0;
}

header {
  background-color: #1F2937;
  color: white;
  height: 420px;
}

#header-logo, #nav-bar li {
  display: inline-block;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  color: #F9FAF8;
  text-align: left;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  margin: 0 10px;
}

a:visited {
  color: grey;
  
}

#nav-content {
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
  gap: 50px;
}

#header-desc, #header-title, #header-button {
  text-align: left;
  margin: 10px;
}

#header-desc {
  font-size: 18px;
  color: #E5E7EB;
}

#header-pic {
  width: 450px;
  height: 240px;
}

.sign-up-button {
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 12%;
}

h2 {
  font-size: 36px;
  color: #1F2937;
}

#info-box {
  margin: 0;
}

#quote-box {
  background-color: #E5E7EB;
  margin: 0;
}

#quote-text {
  font-size: 36px;
  color: #1F2937
}

footer {
  background-color: #1F2937;
  color: white;
  margin: 0;
  height: 20px;
}